(setq weechat-host "") ;; url
(eval-after-load 'weechat
  '(progn
     (setq weechat-host-default weechat-host
           weechat-port-default 9001 ;; port
           weechat-mode-default 'ssl ;; 'ssl or 'plain
           weechat-password-callback '(lambda (host port)
                                       (if (string-equal host weechat-host) "" nil))))) ;; password
